---
---

@import "{{ site.theme }}";

body {
  background: rgb(36, 41, 51);
}
section #title h1, body {
  color: rgb(236, 239, 244);
  line-height: 1.5;
  font-family: Lato;

}
.wrapper {
  background: rgb(46, 52, 64);
  border-radius: 4px;
}
#header {
  position: relative;
  visibility: hidden;
  height: 0; 
}
hr {
  height: 1px;
  background: #a3be8c;
}

#title h1 {
  margin: revert;
}
section #title .credits {
  color: rgba(216, 222, 233,0.5)
}
section {
  margin-top: 0;
}
a {
  color: rgb(136, 192, 208);
  text-decoration: none;
}
a:hover {
  color: rgb(136, 192, 208);
  background: rgba(76, 86, 106, 0.8);
}
pre {
  background: rgb(59, 66, 82);
  border: 1px solid rgb(59, 66, 82);
  box-shadow: none;
}
code {
  font-family: JetBrains Mono, Monaco, Bitstream Vera Sans Mono;
  background: rgb(59, 66, 82);
  border-radius: 4px;
}
ul{
  list-style: circle;
}
.markdown-body {
  max-width: 800px;
  font-size: 16px;
}

.markdown-body p {
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 1.2em;
}

.markdown-body li {
  line-height: 1.9em;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5,
blockquote {
  font-family: Lato, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
    "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
