---
layout: default
---

{{ content }}

<script type="text/javascript">
  // Hack: Replace page-link with "Page Title"
  document.querySelectorAll(".markdown-body a[title]").forEach((a) => {
    a.innerText = "Knowledge Base";
  });
  
  
  
  document.querySelectorAll("head").forEach((head) => {
    const link = document.createElement("link");
    link.setAttribute("href", "https://fonts.googleapis.com/css?family=Lato&display=swap")
    link.setAttribute("rel", "stylesheet")
    head.appendChild(link)
  });
  document.getElementById("header").remove();
</script>
